
[*]

# ReSharper properties
resharper_csharp_int_align_comments = true
resharper_csharp_max_line_length = 180
resharper_int_align_invocations = true
resharper_int_align_switch_expressions = true

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.ide0079.severity = none
