
[*]

# ReSharper properties
resharper_blank_lines_around_single_line_auto_property = 1
resharper_blank_lines_before_block_statements = 1
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = not_required_for_both
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_max_line_length = 180
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_xml_max_line_length = 180

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.ide0079.severity = none
